@keyframes slidein {
    from {
      transform: translate(0, 0);
    }
  
    to {
        transform: translate(0, 20px);
        opacity: 0;
    }
  }
@keyframes slidebottom {
    from {
      transform: translate(0, 0);
    }
  
    to {
        transform: translate(0, 10px);
        opacity: 0;
    }
  }
@keyframes slidetop {
    from {
      transform: translate(0, 0);
    }
  
    to {
        transform: translate(0, -10px);
        opacity: 0;
    }
  }
@keyframes slidein-mouse {
    0% {
      transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }
  
    100% {
        transform: translate(0, 0);
    }
  }