@media (max-width: 1400px) {
    body .main .third-section .block-cards-bottom .container .card_wrapper .card_,
    body .main .second-section .container .block-cards .card_ .card__content {
        width: 260px;
    }
    body .main .second-section .container .block-cards .card_ .card-lining {
        width: 230px;
    }
    body .main .five-section .content-container .container .card_ {
        width: 348px;
    }
    body .main .third-section .block-cards .container {
        padding: 0;
    }
    body .main .four-section .slider-container .container .slick-slide,
    body .main .four-section .slider-container .container .slick-active + .slick-active ~ .slick-active {
        transform: scale(0.3);
    }
    body .main .four-section .slider-container .container .slick-next {
        right: 292px;
    }
    body .main .four-section .slider-container .container .slick-prev {
        left: 292px;
    }
}
@media (max-width: 1200px) {
    body .main .third-section .block-cards-bottom .container .card_wrapper .card_,
    body .main .second-section .container .block-cards .card_ .card__content {
        width: 214px;
        height: 370px;
    }
    body .main .second-section .container .block-cards .card_ .card-lining {
        width: 194px;
    }
    body .main .five-section .content-container .container .card_ {
        width: 290px;
    }
    body .main .third-section .block-cards .container {
        padding: 0;
    }
    body .main .third-section .block-cards .container .card_wrapper .card_ {
        width: 466px;
        height: 320px;
        .card-object {
            margin-right: 120px;
        }
        .card-selection-subtitle {
            margin-right: 220px;
        }
    }
    body .main .four-section .slider-container .container .slick-active + .slick-active {
        transform: scale(0.48);
    }
    body .main .four-section .slider-container .container .slick-slide,
    body .main .four-section .slider-container .container .slick-active + .slick-active ~ .slick-active {
        transform: scale(0.25);
    }
    body .main .four-section .slider-container .container .slick-next {
        right: 237px;
    }
    body .main .four-section .slider-container .container .slick-prev {
        left: 237px;
    }
}
@media (max-width: 992px) {
    html,
    body {
        overflow-x: hidden;
    }
    body {
        .modal-contacts {
            .modal-dialog {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .modal-content {
                    height: 50%;
                    border-radius: 15px;
                    .modal-body {
                        display: flex;
                        align-items: center;
                        .section-content {
                            .title {
                                font-size: 40px;
                            }
                            .subtitle {
                                .block-button {
                                    width: 80px;
                                    height: 50px;
                                    margin: 0;
                                    a {
                                        text-align: center;
                                        img {
                                            width: 70%;
                                        }
                                    }
                                }
                                .img-icon {
                                    margin-left: 10px;
                                    width: 10%;
                                }
                                .text {
                                    text-align: left;
                                    font-size: 20px;
                                    margin-left: 10.03px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main {
            .first-section {
                margin-top: 110px;
            }
            .second-section {
                .container {
                    padding-bottom: 0;
                    .block-cards {
                        display: grid;
                        grid-template-columns: auto auto;
                        .card_ {
                            margin: 0 auto;
                            margin-bottom: 117px;
                            .card__content {
                                width: 280px;
                                height: 315px;
                            }
                            .card-lining {
                                width: 246px;
                                height: 192px;
                            }
                        }
                    }
                }
            }
            .third-section {
                .block-cards {
                    margin-bottom: 0;
                    .line {
                        display: none;
                    }
                    .container-cont {
                        display: block;
                        margin: 0;
                        padding: 0;
                        max-width: none;
                        width: 100%;
                        .card_wrapper {
                            display: flex;
                            align-items: center;
                            .line {
                                display: inline;
                            }
                            .card_ {
                                margin-bottom: 14.72px;
                                width: 580px;
                                height: 306px;
                            }
                            .card_01 {
                                background: url(../img/third-screen/img-bg01.png) no-repeat center right / 54%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                            .card_02 {
                                background: url(../img/third-screen/img-bg02.png) no-repeat center right / 54%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                            .card_03 {
                                background: url(../img/third-screen/img-bg03.png) no-repeat center right / 54%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                            .card_04 {
                                background: url(../img/third-screen/img-bg04.png) no-repeat center right / 54%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                        }
                    }
                }
                .block-cards-bottom {
                    .line {
                        display: none;
                    }
                    .container-cont {
                        display: grid;
                        grid-template-columns: auto auto;
                        width: 100%;
                        max-width: 720px;
                        .card_wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .line {
                                display: inline;
                            }
                            .card_ {
                                margin: 0 auto;
                                margin-bottom: 15px;
                                width: 278px;
                                height: 333px;
                                position: relative;
                                z-index: 1;
                            }
                            .card_05 {
                                background: url(../img/third-screen/img-bg05.png) no-repeat center top / 100%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                            .card_06 {
                                background: url(../img/third-screen/img-bg06.png) no-repeat center top / 100%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                            .card_07 {
                                background: url(../img/third-screen/img-bg07.png) no-repeat center top / 100%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                            .card_08 {
                                background: url(../img/third-screen/img-bg08.png) no-repeat center top / 100%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                        }
                    }
                }
            }
            .four-section {
                .slider-container {
                    .container {
                        .slick-slide,
                        .slick-active + .slick-active ~ .slick-active {
                            transform: scale(0.6);
                            opacity: 1;
                        }
                        .slick-prev {
                            left: 0;
                        }
                        .slick-next {
                            right: 0;
                        }
                    }
                }
            }
            .five-section {
                .content-container {
                    .container-cont {
                        display: block;
                        margin: 0;
                        padding: 0;
                        max-width: none;
                        width: 100%;
                        .card_wrapper {
                            display: flex;
                            align-items: center;
                            .container {
                                justify-content: center;
                            }
                            .line {
                                display: inline;
                            }
                            .card_ {
                                margin-bottom: 14.72px;
                                width: 380px;
                                height: 345px;
                                .card-img {
                                    margin-top: 0;
                                }
                                .card-title {
                                    margin-top: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    body {
        .container {
            max-width: 95%;
        }

        .main .first-section .container .section-content {
            max-width: 100%;

            .btn {
                width: 100%;
            }
        }

        .modal-contacts {
            .modal-dialog {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .modal-content {
                    height: 50%;
                    border-radius: 15px;
                    .modal-body {
                        display: flex;
                        align-items: center;
                        .section-content {
                            max-width: none;
                            width: 100%;

                            .title {
                                margin-bottom: 34px;
                                font-size: 28px;
                            }
                        }
                    }
                }
            }
        }
        .main {
            .second-section {
                .container {
                    padding-bottom: 0;
                    .block-cards {
                        display: block;
                        .card_ {
                            // width: 53%;
                            margin: 0 auto;
                            margin-bottom: 117px;

                            .card__number {
                                width: 28.7vw;
                            }
                            .card__content {
                                width: 100%;
                                height: 92vw;
                                .card__img {
                                    height: 49vw;
                                    margin-bottom: 6vw;
                                }
                                .card-text {
                                    margin: 0 9vw;
                                }
                                .card__title {
                                    font-size: 6vw;
                                    line-height: 6.2vw;
                                }
                                .card__subtitle {
                                    margin-top: 6vw;
                                    font-size: 4vw;
                                    line-height: 6vw;
                                }
                            }
                            .card-lining {
                                width: -webkit-fill-available;
                                margin: 0 17px;
                            }
                        }
                    }
                }
            }
            .third-section {
                .block-cards {
                    margin-bottom: 0;
                    .line {
                        display: none;
                    }
                    .container-cont {
                        display: block;
                        margin: 0;
                        padding: 0;
                        max-width: none;
                        width: 100%;
                        .card_wrapper {
                            display: flex;
                            align-items: center;
                            .container {
                                max-width: none;
                            }
                            .line {
                                display: inline;
                            }
                            .card_ {
                                margin-bottom: 14.72px;
                                width: 100%;
                                height: 354px;
                                .card-object {
                                    margin-right: 46vw;
                                }
                                .card-title {
                                    font-size: 4.4vw;
                                    line-height: 4vw;
                                }
                                .card-subtitle {
                                    font-size: 3.6vw;
                                    line-height: 4vw;
                                }
                                .card-selection-subtitle {
                                    font-size: 3.6vw;
                                    line-height: 4vw;
                                }
                            }
                            .card_01 {
                                background: url(../img/third-screen/img-bg01.png) no-repeat center right / 54%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                            .card_02 {
                                background: url(../img/third-screen/img-bg02.png) no-repeat center right / 54%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                            .card_03 {
                                background: url(../img/third-screen/img-bg03.png) no-repeat center right / 54%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                            .card_04 {
                                background: url(../img/third-screen/img-bg04.png) no-repeat center right / 54%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                        }
                    }
                }
                .block-cards-bottom {
                    .line {
                        display: none;
                    }
                    .container-cont {
                        display: block;
                        margin: 0;
                        padding: 0;
                        max-width: none;
                        width: 100%;
                        .card_wrapper {
                            display: flex;
                            align-items: center;
                            .line {
                                display: inline;
                            }
                            .card_ {
                                margin: 0 auto;
                                margin-bottom: 15px;
                                width: 96%;
                                height: 110vw;
                                .card-text {
                                    margin-top: 0;
                                }
                                .card__title {
                                    padding-top: 62vw;
                                    font-size: 7vw;
                                    margin: 0 10vw;
                                    margin-bottom: 4vw;
                                    line-height: 8.4vw;
                                }
                                .card__subtitle {
                                    font-size: 4vw;
                                    line-height: 4.4vw;
                                    margin: 0 10vw;
                                }
                            }
                            .card_05 {
                                background: url(../img/third-screen/img-bg05.png) no-repeat center top / 100%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                            .card_06 {
                                background: url(../img/third-screen/img-bg06.png) no-repeat center top / 100%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                            .card_07 {
                                background: url(../img/third-screen/img-bg07.png) no-repeat center top / 100%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                            .card_08 {
                                background: url(../img/third-screen/img-bg08.png) no-repeat center top / 100%,
                                    linear-gradient(90deg, #ffffff 46.88%, #ffffff 100%);
                            }
                        }
                    }
                }
            }
            .four-section {
                .slider-container {
                    .container {
                        .slick-slide,
                        .slick-active + .slick-active ~ .slick-active {
                            transform: scale(0.6);
                            opacity: 1;
                        }
                        .slick-prev {
                            left: 0;
                        }
                        .slick-next {
                            right: 0;
                        }
                    }
                }
            }
            .five-section {
                .content-container {
                    margin-bottom: 30px;
                    .container-cont {
                        display: block;
                        margin: 0;
                        padding: 0;
                        max-width: none;
                        width: 100%;
                        .card_wrapper {
                            display: flex;
                            align-items: center;
                            .container {
                                max-width: none;
                            }
                            .line {
                                display: inline;
                            }
                            .card_ {
                                margin-bottom: 14.72px;
                                width: 100%;
                                height: 330px;
                                .card-img {
                                    margin-top: 0;
                                }
                                .card-title {
                                    margin-top: 50px;
                                    font-size: 4.4vw;
                                    line-height: 4vw;
                                }
                                .card-subtitle {
                                    font-size: 3.6vw;
                                    line-height: 4vw;
                                }
                            }
                        }
                    }
                }
            }
            .six-section {
                margin-top: 51px;
                height: 445px;
                background: url(../img/backgrounds/six-screen-bg2.png) no-repeat right -227px top 9px/1120px, #fff;
                .container {
                    max-width: none;
                    width: 100%;
                    padding-top: 70px;
                    .section-content {
                        max-width: none;
                        width: 100%;

                        .title {
                            margin-bottom: 34px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    body .main .third-section .block-cards .container .card_wrapper .card_ {
        background-position: top right;
        background-size: 50%;
    }
}

@media (max-width: 425px) {
    body {
        .modal-contacts {
            .modal-dialog {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .modal-content {
                    width: 90%;
                    height: 60%;

                    border-radius: 15px;
                    .modal-body {
                        display: flex;
                        align-items: center;
                        .section-content {
                            .title {
                                font-size: 6vw;
                            }
                            .subtitle {
                                display: block;
                                background: none;
                                box-shadow: none;
                                .block-button {
                                    margin: 0 auto;
                                    margin-bottom: 20px;
                                    width: 153px;
                                    height: 87px;
                                    a {
                                        text-align: center;
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                                .img-icon {
                                    margin: 0 auto;
                                    margin-bottom: 5px;
                                    width: 50px;
                                }
                                .text {
                                    font-size: 18px;
                                    text-align: center;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main {
            .first-section {
                height: 700px;

                .container {
                    .section-content {
                        position: relative;
                        max-width: none;
                        width: 100%;
                        .title {
                            font-size: 6vw;
                            position: relative;
                            z-index: 1;
                        }
                        .elipse-bg {
                            display: block;
                            width: 115px;
                            height: 113px;
                            background: #ffffff;
                            mix-blend-mode: normal;
                            filter: blur(25px);
                            position: absolute;
                            top: -39px;
                            right: 36px;
                            border-radius: 100%;
                        }
                        ul {
                            position: relative;
                            z-index: 1;
                            width: 80%;
                            li {
                                font-size: 4vw;
                            }
                        }
                        .elipse-bg2 {
                            display: block;
                            width: 259px;
                            height: 405px;
                            border-radius: 100%;
                            background: #fff;
                            mix-blend-mode: normal;
                            opacity: 0.9;
                            filter: blur(23.5px);
                            transform: rotate(-90deg);
                            position: absolute;
                            top: 9px;
                            left: 15px;
                        }
                        .btn {
                            width: -webkit-fill-available;
                            height: 65px;
                            margin: 0 auto;
                            font-size: 4.5vw;
                            img {
                                width: 6%;
                            }
                        }
                    }
                    .icon-anim {
                        display: none;
                    }
                    .icon-anim-mobile {
                        display: flex;
                    }
                }
            }
            .second-section {
                .container {
                    .container-title {
                        font-size: 9vw;
                    }
                }
            }
            .third-section {
                .container-title {
                    font-size: 9vw;
                }
                .block-cards {
                    .container {
                        .card_wrapper {
                            .card_ {
                                height: 260px;
                                width: 92%;
                                .card-object {
                                    margin-right: 36vw;
                                }
                                .card-btn {
                                    width: 155px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
            }
            .four-section {
                .container-title {
                    font-size: 6.6vw;
                    margin-bottom: 0;
                }
                .slider-container {
                    .container {
                        .slick-slider {
                            .slick-track {
                                height: 320px;
                            }
                        }
                        .slick-slide {
                            transform: scale(0.3);
                        }
                        .slick-arrow {
                            width: 42px;
                            height: 42px;
                            top: 140px;
                        }
                    }
                }
            }
            .five-section {
                .container-title {
                    font-size: 6.6vw;
                }
                .btn {
                    font-size: 4.5vw;
                    width: -webkit-fill-available;
                    margin: 0 20px;
                    img {
                        width: 6%;
                    }
                }
            }
            .six-section {
                background: url(../img/backgrounds/six-screen-bg2.png) no-repeat right -227px top -18px/1120px, #fff;
                height: 345px;
                .container {
                    padding-top: 97px;
                    .section-content {
                        .title {
                            font-size: 7vw;
                        }
                        .subtitle {
                            .block-button {
                                width: 120px;
                                height: 70px;
                                margin: 0;
                                a {
                                    text-align: center;
                                    img {
                                        width: 70%;
                                    }
                                }
                            }
                            .img-icon {
                                margin-left: 10px;
                                width: 10%;
                            }
                            .text {
                                font-size: 2.9vw;
                                margin-left: 10.03px;
                            }
                        }
                    }
                }
            }
        }
    }
}
